{% extends 'base.html.twig' %}

{% block title %}Inscritpion - MR-GATEAUX -{% endblock %}
{% form_theme registrationForm 'bootstrap_4_layout.html.twig' %}

{% block body %}

<div class="blockLogin">
    <div class="loginGauche">
        <p class="titreText">Inscrivez-vous !</p>
        <p>Vous avez déjà un compte ?</p>
        <a href="{{path('login')}}" class="btn">Se connecter</a>
    </div>
    <div class="loginDroite">
        <h1 class="text-center mb-5">Inscription</h1>
            {{ form_start(registrationForm) }}
                {{ form_row(registrationForm.email) }}
                {{ form_row(registrationForm.plainPassword) }}
                <div style="font-size: .8em">
                    {{ form_row(registrationForm.agreeTerms) }}
                </div>
            <div class="displaySimple2">
                <p>*Tous les champs sont obligatoires</p>
                <div>
                    <button class="btn btn-success">S’inscrire</button>
                </div>
            </div>
            {{ form_end(registrationForm) }}
    </div>
</div>
{% endblock %}
